@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;

  --breakpoint-desktop: 720px;

  /* ink_black */
  --color-ink_black-100: #000405;
  --color-ink_black-200: #00070a;
  --color-ink_black-300: #000b0f;
  --color-ink_black-400: #000f14;
  --color-ink_black-500: #001219;
  --color-ink_black: #001219;
  --color-ink_black-600: #00587a;
  --color-ink_black-700: #009ddb;
  --color-ink_black-800: #3dc8ff;
  --color-ink_black-900: #9ee4ff;

  /* dark_teal */
  --color-dark_teal-100: #001417;
  --color-dark_teal-200: #00272f;
  --color-dark_teal-300: #003b46;
  --color-dark_teal-400: #004e5e;
  --color-dark_teal-500: #005f73;
  --color-dark_teal: #005f73;
  --color-dark_teal-600: #00a3c4;
  --color-dark_teal-700: #13d8ff;
  --color-dark_teal-800: #62e5ff;
  --color-dark_teal-900: #b0f2ff;

  /* dark_cyan */
  --color-dark_cyan-100: #021d1e;
  --color-dark_cyan-200: #043b3b;
  --color-dark_cyan-300: #065859;
  --color-dark_cyan-400: #087577;
  --color-dark_cyan-500: #0a9396;
  --color-dark_cyan: #0a9396;
  --color-dark_cyan-600: #0ed3d7;
  --color-dark_cyan-700: #39eff2;
  --color-dark_cyan-800: #7bf4f7;
  --color-dark_cyan-900: #bdfafb;

  /* pearl_aqua */
  --color-pearl_aqua-100: #153229;
  --color-pearl_aqua-200: #2a6551;
  --color-pearl_aqua-300: #3f977a;
  --color-pearl_aqua-400: #61bd9e;
  --color-pearl_aqua-500: #94d2bd;
  --color-pearl_aqua: #94d2bd;
  --color-pearl_aqua-600: #a9dbca;
  --color-pearl_aqua-700: #bee4d7;
  --color-pearl_aqua-800: #d4ede5;
  --color-pearl_aqua-900: #e9f6f2;

  /* vanilla_custard */
  --color-vanilla_custard-100: #403410;
  --color-vanilla_custard-200: #7f6720;
  --color-vanilla_custard-300: #bf9b30;
  --color-vanilla_custard-400: #d9bc66;
  --color-vanilla_custard-500: #e9d8a6;
  --color-vanilla_custard: #e9d8a6;
  --color-vanilla_custard-600: #ede0b7;
  --color-vanilla_custard-700: #f2e7c9;
  --color-vanilla_custard-800: #f6efdb;
  --color-vanilla_custard-900: #fbf7ed;

  /* golden_orange */
  --color-golden_orange-100: #301f00;
  --color-golden_orange-200: #603e00;
  --color-golden_orange-300: #905d00;
  --color-golden_orange-400: #c07d00;
  --color-golden_orange-500: #ee9b00;
  --color-golden_orange: #ee9b00;
  --color-golden_orange-600: #ffb327;
  --color-golden_orange-700: #ffc65d;
  --color-golden_orange-800: #ffd993;
  --color-golden_orange-900: #ffecc9;

  /* burnt_caramel */
  --color-burnt_caramel-100: #281400;
  --color-burnt_caramel-200: #512901;
  --color-burnt_caramel-300: #793d01;
  --color-burnt_caramel-400: #a25202;
  --color-burnt_caramel-500: #ca6702;
  --color-burnt_caramel: #ca6702;
  --color-burnt_caramel-600: #fd850d;
  --color-burnt_caramel-700: #fda349;
  --color-burnt_caramel-800: #fec286;
  --color-burnt_caramel-900: #fee0c2;

  /* rusty_spice */
  --color-rusty_spice-100: #250c01;
  --color-rusty_spice-200: #4a1801;
  --color-rusty_spice-300: #702402;
  --color-rusty_spice-400: #953102;
  --color-rusty_spice-500: #bb3e03;
  --color-rusty_spice: #bb3e03;
  --color-rusty_spice-600: #f95104;
  --color-rusty_spice-700: #fc7c41;
  --color-rusty_spice-800: #fda880;
  --color-rusty_spice-900: #fed3c0;

  /* oxidized_iron */
  --color-oxidized_iron-100: #230604;
  --color-oxidized_iron-200: #460d07;
  --color-oxidized_iron-300: #69130b;
  --color-oxidized_iron-400: #8c190f;
  --color-oxidized_iron-500: #ae2012;
  --color-oxidized_iron: #ae2012;
  --color-oxidized_iron-600: #e72b1a;
  --color-oxidized_iron-700: #ed6053;
  --color-oxidized_iron-800: #f3958d;
  --color-oxidized_iron-900: #f9cac6;

  /* brown_red */
  --color-brown_red-100: #1f0708;
  --color-brown_red-200: #3e0e0f;
  --color-brown_red-300: #5d1417;
  --color-brown_red-400: #7c1b1e;
  --color-brown_red-500: #9b2226;
  --color-brown_red: #9b2226;
  --color-brown_red-600: #cf2e33;
  --color-brown_red-700: #dc6165;
  --color-brown_red-800: #e89698;
  --color-brown_red-900: #f3cacc;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-ink_black);
  color: white;
}